@namespace Flare

<span @ref="_element"
      @attributes="InputAttributes"
      class="flare-clipboard flare-title @Class"
      data-flare-title="Copy"
      role="button"
      @onclick="HandleClick">@ChildContent</span>
