@namespace Flare

@if (HasValue)
{
    <span class="flare-title" data-flare-relative-day="@Value!.Value.UtcDateTime.ToString("o")" data-flare-title="@FormatTitle()" @attributes="InputAttributes">@FormatFallback()</span>
}
else if (!string.IsNullOrEmpty(Placeholder))
{
    <span @attributes="InputAttributes">@Placeholder</span>
}
