@page "/not-found"
@using Flare.UI.Demo.Client.Layout

<PageTitle>Not found</PageTitle>

<LayoutView Layout="typeof(MainLayout)">
    <p role="alert">Sorry, there's nothing at this address.</p>
</LayoutView>
